<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotary: The Game</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/text.css">
    <link rel="stylesheet" href="css/div.css">
    <link rel="stylesheet" href="css/section.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>

    <header>
        <nav>
            <div id="header-div-logo">
                <div class="inline-block-div">
                    <div id="logo-image-div">
                        <img src="images/small-logo.svg" alt="Play 'Rotary: The Game' online">
                    </div>
                </div><!--
                --><div class="inline-block-div">
                    <div id="logo-text-div">
                        <p id="logo-text">Rotary: The Game</p>
                    </div>
                </div>
            </div>
            <div id="header-div-buttons">
                <div class="inline-block-div">
                    <div class="header-text-div">
                        <p class="header-text">Правила</p>
                    </div>
                </div><!--
                --><div class="inline-block-div button-margin">
                    <div class="header-text-div">
                        <p class="header-text">Поддержать создателей</p>
                    </div>
                </div><!--
                --><div class="inline-block-div button-margin">
                    <div class="inline-block-div">
                        <div class="center-image-div">
                            <img src="images/arrow.svg">
                        </div>
                    </div><!--
                    --><div class="inline-block-div">
                        <div class="header-text-div">
                            <p class="header-text">RU</p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>